script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
script(src="../../chi-vue/umd/chi-vue.umd.js")
script(src=`../../js/chi.js`)

script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

//- h2 Save View

//- #save-view.-w--100
//-   button.chi-button(@click="toggleSaveView") Toggle Save View
//-   chi-save-view.-mt--2(:active="active" results='(1-40 of 78)', @chiSave="saveView", @chiDelete="deleteView")
//-     button#chi-save-view__info-trigger.chi-button.-light.-icon.-flat.-xs(aria-label='Edit', @click="() => toggleInfoPopover()" slot='info-icon')
//-       .chi-button__content
//-         i.chi-icon.icon-circle-info-outline(aria-hidden='true')
//-     chi-popover(:active="isInfoPopoverActive" position='right-start' title='Popover title' variant='text' arrow='' reference='#chi-save-view__info-trigger' slot='info-popover', @chiPopoverHidden="() => (isInfoPopoverActive = false)")
//-       | Lorem ipsum test test

#save-view.-w--100
  h2 Dropdown

  chi-dropdown(
    id="dropdown-list"
    position="bottom"
    button="Dropdown, click me"
  )
    a(
      v-for="item in reportedList"
      class="chi-dropdown__menu-item"
      :key="item"
      slot="menu"
      @click="onReportSelectionChange(item)"
    ) {{item}}

  chi-button.-mt--3(@click="changeItems") Change items
  chi-button.-mt--3(@click="updatePopper") Update popper

script.
  new Vue({
    data: () => {
      return {
        active: false,
        isInfoPopoverActive: false,
        reportedList: ["New item 1", "New item 2", "New item 3"]
      }
    },
    components: {
      ChiSaveView: window["chi-vue"].library.components.ChiSaveView,
    },
    methods: {
      deleteView(e) {
        console.log(e);
      },

      saveView(e) {
        console.log(e);
      },

      toggleInfoPopover() {
        this.isInfoPopoverActive = !this.isInfoPopoverActive;
      },

      toggleSaveView() {
        this.active = !this.active;
      },
      changeItems() {
        this.reportedList = [...this.reportedList, "Test element"]
        console.log('items', this.reportedList)
        //- const dropdown = this.$el.querySelector('#dropdown-list')
        //- dropdown.updatePopper();
     },
      updatePopper() {
        const dropdown = this.$el.querySelector('#dropdown-list')
        dropdown.updatePopper();
     }
    },
  }).$mount("#save-view");
